{% extends 'base.html.twig' %}

{% block title %}Games Lobby {% endblock %}

{% block pageTitle %}Home{% endblock %}
{% block body %}
    <section class="pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center has--bg">
                        <div class="header-image"><img src="{{ asset("assets/images/splash.png") }}" alt="image"></div>
                        <h2 class="section-title">Top Rated Games</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-50 mb-none-40">
                {% for game in games %}
                    <div class="col-lg-6 mb-40">
                        <div class="game-card">
                            <div class="game-card__thumb">
                                <img src="{{ game["background"] }}" onError="this.onerror=null;this.src='{{ asset("/assets/images/inner-hero.jpg") }}';" alt="image">
                            </div>
                            <div class="game-card__content">
                                <div class="game-card__details">
                                    <div class="game-card__info">
                                        <div class="thumb"><img src="{{ game["icon"] }}" onError="this.onerror=null;this.src='{{ asset("/assets/images/el-1.png") }}';" alt="image"></div>
                                        <div class="content">
                                            <h3 class="game-card__title"><a href="game-details.html">{{ game["name"] }}</a></h3>
                                            <p>Game Description.... <a href="game-details.html">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- game-card__content end -->
                        </div><!-- game-card end -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("js/app.js") }}"></script>

{% endblock %}